@font-face {
    font-family: 'Hellovetica';
    src: url('hellovetica.ttf');
}
@font-face {
    font-family: 'Press Start';
    src: url('PressStart2P-Regular.ttf');
}

@font-face{
    font-family: 'MS Sans Serif';
    src: url('MSSansSerif.ttf')
}



html{
    font-family: 'MS Sans Serif';
    background-color: #01817F;
    scroll-behavior: smooth;
    height: 100%;
    width: 100%;
    margin: 0px;
    padding: 0px;
}
body{
    height: 500%; 
    width: 100%; 
    margin: 0px;
    padding: 0px;
}
.page{
    height: 20%;
    width: 100%;
}

#navigation-bar{
    height: 7.5vh;
    
    width: 100%;
    overflow: hidden;
    top: 0;
    left: 0;
    position: fixed;
    display: flex;
    justify-content: space-evenly;
    bottom: 0px;
    background-color: #01817F;
}

#navigation-box{
    margin-top: 3vh;
    width: 21.3vw;
    height: 3.75vh;
    background-color: white;
    font-size: 2vh;
    text-align: center;
    vertical-align: middle;
    line-height: 3.75vh;
    border: 2px solid black;
}

#navigation-box a:hover{
    cursor: pointer;
}



#home{
    /*550*/
    padding-top: 55px;
}
#home h1{
    font-size: 2.5rem;
    text-align: center;
    padding-left: 5px;
    padding-right: 5px;
}
#home-picture{
    width: 250px;
    height: auto;
    margin: auto;
    display: block;
    border-radius: 50%;
    border: 2px solid black;
    padding: 0px;
    position: relative;
    z-index: -1;
    bottom: 20px;
}
#title{
    font-size: 1.5rem;
    text-align: center;
    position: relative;
    z-index: -1;
    bottom: 40px;
}

#title-pic{
    padding: 0px;
    position: relative;
    z-index:-1;
    top: 10px;
}


#intro{
    padding-left: 10px;
    padding-right: 10px;
    font-size: 1.25rem;
    position: relative;
    z-index: -1;
    bottom: 20px;
}

#about{
    /*585*/
    margin-top: 0px;
}
#about h1{
    font-size: 2.5rem;
    text-align: center;
    padding-top: 70px;
}
#about p{
    font-size: 1.25rem;
    line-height: 1.2;
    padding-left: 5px;
    padding-right: 5px;
}

#paint{
    position: relative;
    margin: auto;
    display: block;
    padding: 0px;
    bottom: 30px;
    z-index: -1;
}
#second-para{
    position: relative;
    z-index: -1;
    bottom: 25px;
    text-align: right;
}

#learning{
    text-align: right;
}
#projects{
    /*1140*/
    margin-top: 0px;
}
#projects h1, #projects-cont h1{
    font-size: 2.5rem;
    text-align: center;
    padding-top: 70px;
    padding-bottom: 20px;
}


#project-pic{
    padding-left: 10px;
    position: relative;
    width:40px;
    height: auto;
    top: 5px;
    z-index: -1;
}
#project-preview{
    width: 300px;
    height: auto;
    display: block;
    margin: auto;    
    border: 2px solid black;
}

#projects h2, #projects-cont h2{
    font-size: 1.25rem;
    text-align: left;
    padding-top: 5px;
    padding-left: 30px;
    padding-bottom: 5px;
}
#projects p, #projects-cont p{
    padding-left: 30px;
    padding-right: 10px;
}
#project-links{
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 55px;
}
#resume h1{
    font-size: 2.5rem;
    text-align: center;
    padding-top: 70px;
    padding-bottom: 20px;
}

#resume p{
    text-align: center;
    font-size: 1.25rem;
}
#resume h2{
    text-align: center;
}
#form-div{
   display: block;
   text-align: center;
}
#form-div form{
    margin: auto;
    display: inline-block;
    text-align: left;
}
#resume label{
    font-size: 1.25rem;
}

#view-resume{
    display: flex;
    justify-content: center;
    margin: 5px;
    padding-bottom: 30px;
}
#view-resume #navigation-box{
    padding: 5px;
}

#contact-pic{
    position: relative;
    z-index: -1;
    top: 7px;
}

footer{
    text-align: center;
    font-size: 12px;
}

 /*320 - 375
@media only screen and (max-width: 361px) {
    #navigation-bar #navigation-box{
        width: 53.3px;
        height: 16px;
        font-size: 12px;
        line-height: 16px;
    }
}

@media only screen and (max-width: 374px){
    #about p{
        line-height: 1.1;
    }
}

@media only screen and (max-width: 325px){
    #about p{
        font-size: 1.15rem;
        line-height: 1.2;
    }
}

@media only screen and (max-width: 364px){
    #about p{
        font-size: 1.15rem;
        line-height: 1.2;
    }
}

*/