@font-face{
    font-family: 'MS Sans Serif';
    src: url('assets/MSSansSerif.ttf')
}



html{
    font-family: 'MS Sans Serif';
    background-color: #01817F;
    scroll-behavior: smooth;
}
body{
    padding: 0 15px;
}

/*navigation bar*/

#navigation-bar{
    height: 50px;
    width: 100%;
    overflow: hidden;
    top: 0;
    left: 0;
    position: fixed;
    display: flex;
    justify-content: center;
    bottom: 0px;
    background-color: #01817F;
}

#navigation-box{
    margin-top: 20px;
    width: 80px;
    height: 25px;
    background-color: white;
    font-size: 14px;
    text-align: center;
    vertical-align: middle;
    line-height: 25px;
    border: 2px solid black;
    margin-left: 20px;
    margin-right: 20px;
    box-shadow: 3px 3px;
}

#navigation-box a:hover{
    cursor: pointer;
}

/*home section*/
#home-div{
    padding-top: 50px;
    min-width: 250px;
    max-width: 572px;
    height: auto;
    margin: auto;
    text-align: center;
}
#home-div h1{
    font-size: clamp(2.5rem, 5vw, 65px);
    text-align: center;
    margin-top: 30px;
}
#home-div p{
    font-size: 1.25rem;
    line-height: 2rem;
}

/*about section*/
#about-div{
    padding-top: 20px;
    min-width: 250px;
    max-width: 572px;
    text-align: center;
    margin: auto;
}
#about-img{
    position: relative;
    top: 7px;
    z-index: -1;
}
#about-div p{
    font-size: 1.25rem;
    line-height: 2rem;
}
#about-intro-p{
    text-align: left;
}
#about-tech-p{
    text-align: right;
}

/*projects section*/
#projects-div{
    padding-top: 20px;
    min-width: 250px;
    max-width: 572px;
    text-align: center;
    margin: auto;
}
#projects-img{
    position: relative;
    z-index: -1;
    top: 20px;
}

#projects-div h1{
    padding-bottom: 20px;
}

#project-preview{
    width: 100%;
    height: auto;
    display: block;
    margin: auto;    
    border: 2px solid black;
}
#projects-div h2{
    font-size: 1.25rem;
    text-align: left;
}
#projects-div p{
    text-align: left;
    font-size: 1.25rem;
    line-height: 2rem;
}


#project-links{
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 55px;
}


footer{
    text-align: center;
    font-size: 12px;
}


@media only screen and (max-width: 500px) {
    #navigation-bar #navigation-box{
        padding: 0 5px;
        margin-left: 5px;
        margin-right: 5px;
    }
}
